@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    display: grid;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: 0.2fr auto 0.1fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    }

h1 {
    font-family: 'Cherry Bomb One', system-ui;
    color: rgb(216, 13, 13);
    font-size: 3em;
}

.logo {
    display: flex;
}

#icon {
    height: 5em;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-self: center;
    padding: 1em 0;
}

.main {
    grid-area: main;
    display: flex;
    flex: 2;
    overflow: hidden;
}

.nav {
    min-width: 250px;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1.5em;
    padding: 0.8em;
    align-content: center;
}

.btn {
    cursor: pointer;
    border: none;
    font-size: 1.5em;
    background-color: white;
}

.btn:hover {
    text-decoration: underline;
    text-decoration-color: rgb(216, 13, 13);
}

.container {
    width: 100%;
}

.slide {
    animation-name: fade;
    animation-duration: 3s;
}

.slideImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.about, .menu {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    height: 100%;
}

#aboutImg {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 40% 50%;
}

.text {
    padding-top: 1.5em;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0em 2em;
}

#JClogo {
    max-height: 5em;
}

.menu {
    overflow: scroll;
}

.menuItem {
    white-space: pre-wrap;
    padding: 1.5em;
}

.contact {
    display: flex;
    flex-direction: row;
    min-width: 700px;
    min-height: 100%;
}

.imgContainer {
    display: flex;
    max-width: 100%;
}

#mapImg {
    min-height: 100%;
    max-width: 100%;
    object-fit: fill;
}

.textContainer {
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
}

@media (max-width: 1000px) {
    #content {
        /*  Redefine the grid into a single column layout. */
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    .main {
        flex-direction: column;
        overflow: scroll;
    }

    .nav {
        padding-top: 2em;
        grid-auto-flow: column;
    }


    .contact {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}